body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #515151;
  font-weight: 300;
  line-height: 33px;
}

.page {
  padding: 10px 20%;
  width: auto;
}

h1, h2 {
  font-family: 'Ovo', serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 25px;
}

p {
  text-align: justify;
  clear: left;
}
p:first-of-type:first-letter {
  float: left;
  color: #bf9456;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}
.page {
  display: none;
}
.page--current {
  display: block;
}
.page img {
  width: 40%;
  float: right;
  margin-left: 10px;
}
#page-37 img {
  width: 27%;
}
a {
  font-weight: 600;
  color: #bf9456;
}
div.page-number {
  text-align: right;
  font-size: 15px;
}
